#poststuff #majc-settings-metabox .inside{
    margin: 0;
    padding: 0;
}

#majc-settings-metabox .postbox-header{
    display: none;
}

.majc-menu-option-wrap{
    background: #1d2327;
    padding: 15px 20px;
}

.majc-menu-option-wrap .majc-side-menus{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.majc-menu-option-wrap .majc-side-menus li{
    padding: 10px;
    margin: 0 20px 0 0;
    background: #2b3337;
    color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.majc-menu-option-wrap .majc-side-menus li.majc-tab-active{
    background: #2170b1;
}

.majc-settings-field{
    position: relative;
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px solid #EEE;
    display: flex;
}

.majc-settings-field:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    background: #F9F9F9;
    border-right: 1px solid #E1E1E1;
}

.majc-settings-field > label{
    flex: 0 1 240px;
    padding: 0 20px;
    position: relative;
    font-weight: bold;
}

.majc-settings-input-field{
    padding: 0 20px;
}

#poststuff .majc-menu-field-wrap h2{
    background: #f9f9f9;
    border-bottom: 1px solid #EEE;
    padding: 15px 20px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}